<div class="nav-item">
    <button class="btn btn-icon btn-ghost-secondary" data-theme-toggle aria-label="Toggle theme">
        {{ ux_icon('tabler:sun', {'class': 'icon', 'data-theme-switch': 'light'}) }}
        {{ ux_icon('tabler:moon', {'class': 'icon', 'data-theme-switch': 'dark'}) }}
    </button>
</div>
