<div class="nav-item" {{ stimulus_controller('@sylius/bootstrap-admin-ui/theme-switcher') }}>
    <button class="btn btn-icon btn-ghost-secondary" {{ stimulus_action('@sylius/bootstrap-admin-ui/theme-switcher', 'toggle') }} aria-label="Toggle theme">
        {{ ux_icon('tabler:sun', {'class': 'icon', 'data-theme-switch': 'light'}) }}
        {{ ux_icon('tabler:moon', {'class': 'icon', 'data-theme-switch': 'dark'}) }}
    </button>
</div>
