includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    level: 8
    reportUnmatchedIgnoredErrors: false
    paths:
        - 'src/TwigExtra/src'
        - 'src/TwigHooks/src'

    ignoreErrors:
        # Symfony Config component relies on magic methods in NodeBuilder.
        # PHPStan struggles to resolve these methods on the builder class when complex generics are involved,
        # resulting in false positive "unknown class" errors.
        -
            message: '#Call to method \w+Node\(\) on an unknown class .*NodeBuilder.*#'
            paths:
                - 'src/TwigHooks/src/DependencyInjection/Configuration.php'
                - 'src/TwigExtra/src/Symfony/DependencyInjection/Configuration.php'
