{% import '@SyliusBootstrapFrontUi/shared/buttons.html.twig' as buttons %}

<li>
    {{ buttons.transparent(path('sylius_front_ui_account_dashboard'), 'sylius.ui.my_account'|trans, 'mobile-my-account-button', null, 'dropdown-item') }}</li>
