{% extends '@SyliusAdminUi/layout/full.html.twig' %}

{% block content %}
    <div class="page-wrapper">
        <div class="page-body">
            <div class="container-xl">
                <div class="row">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac felis nec sapien interdum luctus. Integer non sapien in urna faucibus pharetra. Vivamus vitae justo at arcu gravida aliquam. Sed congue eros id dolor faucibus, in iaculis arcu lacinia.</p>
                    <h3>Section</h3>
                    <p>Phasellus euismod, justo in facilisis lacinia, massa arcu convallis libero, sed consequat dolor nisl sit amet libero. Aenean euismod sem vel turpis ultrices, vitae laoreet leo sodales.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
