{% set default_route = grid.requestConfiguration is defined ? grid.requestConfiguration.getRouteName('update') : null %}

{% set path = options.link.url|default(path(options.link.route|default(default_route), options.link.parameters|default({'id': data.id}))) %}
{% set message = action.label|default('sylius.ui.edit') %}

<a href="{{ path }}" class="btn btn-icon" data-bs-toggle="tooltip" data-bs-title="{{ message|trans }}">
    {{ ux_icon(action.icon|default('tabler:pencil')) }}
</a>
