{% set resources = resources|default(hookable_metadata.context.resources|default(null)) %}

{% if resources.data is defined and resources.data|length == 0 %}
    <div class="card">
        <div class="empty">
            {% hook 'no_results' %}
        </div>
    </div>
{% endif %}
