<div{{ attributes }}>
    {% include '@SyliusBootstrapTheme/shared/crud/index/content/grid/filters.html.twig' with {resources: this.getResources()} %}
    {% include '@SyliusBootstrapTheme/shared/crud/index/content/grid/data_table.html.twig' with {resources: this.getResources()} %}
</div>
